## 1. import Libraries

In [4]:
import matplotlib
print(matplotlib.__path__)

_NamespacePath(['C:\\Users\\sneha\\.conda\\envs\\demo\\Lib\\site-packages\\matplotlib'])

In [10]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.metrics.pairwise import rbf_kernel
from sklearn.ensemble import RandomForestRegressor
from sklearn.base import BaseEstimator,TransformerMixin
from sklearn.pipeline import Pipeline,FeatureUnion
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import (
    OneHotEncoder,
    StandardScaler,
    MinMaxScaler,
    PowerTransformer,
    FunctionTransformer
)
import feature_engine
from feature_engine.outliers import Winsorizer
from feature_engine.selection import SelectBySingleFeaturePerformance
from feature_engine.encoding import (
    RareLabelEncoder,
    MeanEncoder,
    CountFrequencyEncoder
)
from feature_engine.datetime import DatetimeFeatures

import warnings

In [1]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.metrics.pairwise import rbf_kernel
from sklearn.ensemble import RandomForestRegressor
from sklearn.base import BaseEstimator,TransformerMixin
from sklearn.pipeline import Pipeline,FeatureUnion
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import (
    OneHotEncoder,
    StandardScaler,
    MinMaxScaler,
    PowerTransformer,
    FunctionTransformer
)
import feature_engine
from feature_engine.outliers import Winsorizer
from feature_engine.selection import SelectBySingleFeaturePerformance
from feature_engine.encoding import (
    RareLabelEncoder,
    MeanEncoder,
    CountFrequencyEncoder
)
from feature_engine.datetime import DatetimeFeatures
import matplotlib
import matplotlib.pyplot as plt
import warnings

ModuleNotFoundError: No module named 'matplotlib.image'

### 2. Display Settings

In [4]:
pd.set_option("display.max_columns",None)

In [5]:
sklearn.set_config(transform_output="pandas")

In [6]:
warnings.filterwarnings("ignore")

## 3. Read The Data

In [7]:
path=r"C:\Users\sneha\OneDrive\Desktop\flight-sagemake-project\data\train.csv"
train=pd.read_csv(path)
train

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Air India,2019-06-06,Delhi,Cochin,20:40:00,09:25:00,765,1.0,No Info,7952
1,Jet Airways,2019-03-09,Banglore,New Delhi,05:45:00,08:15:00,1590,1.0,In-flight meal not included,9134
2,Indigo,2019-05-12,Banglore,Delhi,06:05:00,08:50:00,165,0.0,No Info,4423
3,Jet Airways,2019-03-24,Kolkata,Banglore,13:55:00,09:15:00,1160,1.0,In-flight meal not included,11134
4,Indigo,2019-06-01,Banglore,Delhi,13:00:00,15:50:00,170,0.0,No Info,3943
...,...,...,...,...,...,...,...,...,...,...
635,Spicejet,2019-06-24,Kolkata,Banglore,22:20:00,00:40:00,140,0.0,No check-in baggage included,3841
636,Indigo,2019-05-24,Kolkata,Banglore,15:15:00,20:05:00,290,1.0,No Info,5192
637,Jet Airways,2019-06-27,Delhi,Cochin,06:45:00,12:35:00,1790,2.0,No Info,13376
638,Spicejet,2019-04-03,Mumbai,Hyderabad,13:15:00,14:45:00,90,0.0,No Info,2017
639,Jet Airways,2019-05-06,Kolkata,Banglore,20:00:00,12:00:00,960,1.0,No Info,14388

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          640 non-null    object
 1   date_of_journey  640 non-null    object
 2   source           640 non-null    object
 3   destination      640 non-null    object
 4   dep_time         640 non-null    object
 5   arrival_time     640 non-null    object
 6   duration         640 non-null    int64
 7   total_stops      640 non-null    float64
 8   additional_info  640 non-null    object
 9   price            640 non-null    int64
dtypes: float64(1), int64(2), object(7)
memory usage: 50.1+ KB

In [9]:
X_train=train.drop(columns="price")
y_train=train.price.copy()

## 4. Transformation Operations

### 4.1 Airline

In [10]:
X_train.airline

0        Air India
1      Jet Airways
2           Indigo
3      Jet Airways
4           Indigo
          ...
635       Spicejet
636         Indigo
637    Jet Airways
638       Spicejet
639    Jet Airways
Name: airline, Length: 640, dtype: object

In [11]:
air_transformer=Pipeline(steps=[
    ("imputer",SimpleImputer(strategy="most_frequent")),
    ("grouper",RareLabelEncoder(tol=0.1,replace_with="Other",n_categories=2)),
    ("encoder",OneHotEncoder(sparse_output=False,handle_unknown="ignore"))
])
air_transformer.fit_transform(X_train.loc[:,["airline"]])#.airline.value_counts()

,airline_Air India,airline_Indigo,airline_Jet Airways,airline_Multiple Carriers,airline_Other
0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...
635,0.0,0.0,0.0,0.0,1.0
636,0.0,1.0,0.0,0.0,0.0
637,0.0,0.0,1.0,0.0,0.0
638,0.0,0.0,0.0,0.0,1.0
639,0.0,0.0,1.0,0.0,0.0

## 4.2 date_of_journey

In [12]:
X_train.date_of_journey

0      2019-06-06
1      2019-03-09
2      2019-05-12
3      2019-03-24
4      2019-06-01
          ...
635    2019-06-24
636    2019-05-24
637    2019-06-27
638    2019-04-03
639    2019-05-06
Name: date_of_journey, Length: 640, dtype: object

In [13]:
feature_to_extract=["month","week","day_of_week","day_of_month","day_of_year"]
doj_transformer=Pipeline(steps=[
    ("dt",DatetimeFeatures(features_to_extract=feature_to_extract,yearfirst=True,format="mixed")),
    ("scaler",MinMaxScaler())
])

doj_transformer.fit_transform(X_train.loc[:,["date_of_journey"]])

,date_of_journey_month,date_of_journey_week,date_of_journey_day_of_week,date_of_journey_day_of_month,date_of_journey_day_of_year
0,1.000000,0.823529,0.500000,0.192308,0.822034
1,0.000000,0.058824,0.833333,0.307692,0.067797
2,0.666667,0.588235,1.000000,0.423077,0.610169
3,0.000000,0.176471,1.000000,0.884615,0.194915
4,1.000000,0.764706,0.833333,0.000000,0.779661
...,...,...,...,...,...
635,1.000000,1.000000,0.000000,0.884615,0.974576
636,0.666667,0.705882,0.666667,0.884615,0.711864
637,1.000000,1.000000,0.500000,1.000000,1.000000
638,0.333333,0.294118,0.333333,0.076923,0.279661
639,0.666667,0.588235,0.000000,0.192308,0.559322

## 4.3 Source& Destination

In [14]:
X_train.source

0         Delhi
1      Banglore
2      Banglore
3       Kolkata
4      Banglore
         ...
635     Kolkata
636     Kolkata
637       Delhi
638      Mumbai
639     Kolkata
Name: source, Length: 640, dtype: object

In [15]:
X_train.destination

0         Cochin
1      New Delhi
2          Delhi
3       Banglore
4          Delhi
         ...
635     Banglore
636     Banglore
637       Cochin
638    Hyderabad
639     Banglore
Name: destination, Length: 640, dtype: object

In [16]:
location_subset=X_train.loc[:,["source","destination"]]
location_subset

       source destination
0       Delhi      Cochin
1    Banglore   New Delhi
2    Banglore       Delhi
3     Kolkata    Banglore
4    Banglore       Delhi
..        ...         ...
635   Kolkata    Banglore
636   Kolkata    Banglore
637     Delhi      Cochin
638    Mumbai   Hyderabad
639   Kolkata    Banglore

[640 rows x 2 columns]

In [17]:
location_pipe1=Pipeline(steps=[
    ("grouper",RareLabelEncoder(tol=0.1,replace_with="Others",n_categories=2)),
    ("encoder",MeanEncoder()),
    ("scaler",PowerTransformer())
])
location_pipe1.fit_transform(location_subset,y_train)

       source  destination
0    1.055320     1.054789
1   -0.843005    -1.065717
2   -0.843005    -1.632745
3   -0.088356    -0.018648
4   -0.843005    -1.632745
..        ...          ...
635 -0.088356    -0.018648
636 -0.088356    -0.018648
637  1.055320     1.054789
638 -1.764329    -1.065717
639 -0.088356    -0.018648

[640 rows x 2 columns]

In [18]:
np.union1d(
    X_train.source.unique(),
    X_train.destination.unique()
)

array(['Banglore', 'Chennai', 'Cochin', 'Delhi', 'Hyderabad', 'Kolkata',
       'Mumbai', 'New Delhi'], dtype=object)

In [19]:
def is_north(X):
    columns=X.columns.to_list()
    north_cities=["Delhi","kolkata","Mumbai","new Delhi"]
    return(
        X
        .assign(**{
            f"{col}_is_north": X.loc[:,col].isin(north_cities).astype(int)
            for col in columns
        })
        .drop(columns=columns)
    )

FunctionTransformer(func=is_north).fit_transform(location_subset)

     source_is_north  destination_is_north
0                  1                     0
1                  0                     0
2                  0                     1
3                  0                     0
4                  0                     1
..               ...                   ...
635                0                     0
636                0                     0
637                1                     0
638                1                     0
639                0                     0

[640 rows x 2 columns]

In [22]:
location_transformer=FeatureUnion(transformer_list=[
    ("part1",location_pipe1),
    ("part2",FunctionTransformer(func=is_north))
])
location_transformer.fit_transform(location_subset,y_train)

       source  destination  source_is_north  destination_is_north
0    1.055320     1.054789                1                     0
1   -0.843005    -1.065717                0                     0
2   -0.843005    -1.632745                0                     1
3   -0.088356    -0.018648                0                     0
4   -0.843005    -1.632745                0                     1
..        ...          ...              ...                   ...
635 -0.088356    -0.018648                0                     0
636 -0.088356    -0.018648                0                     0
637  1.055320     1.054789                1                     0
638 -1.764329    -1.065717                1                     0
639 -0.088356    -0.018648                0                     0

[640 rows x 4 columns]

## 4.4 dep_time & Arr_time

In [24]:
X_train.dep_time

0      20:40:00
1      05:45:00
2      06:05:00
3      13:55:00
4      13:00:00
         ...
635    22:20:00
636    15:15:00
637    06:45:00
638    13:15:00
639    20:00:00
Name: dep_time, Length: 640, dtype: object

In [26]:
X_train.arrival_time

0      09:25:00
1      08:15:00
2      08:50:00
3      09:15:00
4      15:50:00
         ...
635    00:40:00
636    20:05:00
637    12:35:00
638    14:45:00
639    12:00:00
Name: arrival_time, Length: 640, dtype: object

In [27]:
time_subset=X_train.loc[:,["dep_time","arrival_time"]]
time_subset

     dep_time arrival_time
0    20:40:00     09:25:00
1    05:45:00     08:15:00
2    06:05:00     08:50:00
3    13:55:00     09:15:00
4    13:00:00     15:50:00
..        ...          ...
635  22:20:00     00:40:00
636  15:15:00     20:05:00
637  06:45:00     12:35:00
638  13:15:00     14:45:00
639  20:00:00     12:00:00

[640 rows x 2 columns]

In [33]:
time_pipe1=Pipeline(steps=[
    ("dt",DatetimeFeatures(features_to_extract=["hour","minute"])),
    ("scaler",MinMaxScaler())
])
time_pipe1.fit_transform(time_subset)

     dep_time_hour  dep_time_minute  arrival_time_hour  arrival_time_minute
0         0.869565         0.727273           0.391304             0.454545
1         0.217391         0.818182           0.347826             0.272727
2         0.260870         0.090909           0.347826             0.909091
3         0.565217         1.000000           0.391304             0.272727
4         0.565217         0.000000           0.652174             0.909091
..             ...              ...                ...                  ...
635       0.956522         0.363636           0.000000             0.727273
636       0.652174         0.272727           0.869565             0.090909
637       0.260870         0.818182           0.521739             0.636364
638       0.565217         0.272727           0.608696             0.818182
639       0.869565         0.000000           0.521739             0.000000

[640 rows x 4 columns]

In [39]:
def part_of_day(X,morning=4,noon=12,evening=16,night=20):
    columns=X.columns.to_list()
    X_temp=X.assign(**{
        col:pd.to_datetime(X.loc[:,col]).dt.hour
        for col in columns
    })
    return(
        X_temp
        .assign(**{
            f"{col}_part_of_day":np.select(
                [X_temp.loc[:,col].between(morning,noon,inclusive="left"),
                X_temp.loc[:,col].between(noon,evening,inclusive="left"),
                X_temp.loc[:,col].between(evening,night,inclusive="left")],
                ["morning",'afternoon',"evening"],
                default="night"
            )
            for col in columns
        })
        .drop(columns=columns)
    )

FunctionTransformer(func=part_of_day).fit_transform(time_subset)

    dep_time_part_of_day arrival_time_part_of_day
0                  night                  morning
1                morning                  morning
2                morning                  morning
3              afternoon                  morning
4              afternoon                afternoon
..                   ...                      ...
635                night                    night
636            afternoon                    night
637              morning                afternoon
638            afternoon                afternoon
639                night                afternoon

[640 rows x 2 columns]

In [46]:
time_pipe2=Pipeline(steps=[
    ("part",FunctionTransformer(func=part_of_day)),
    ("encoder",CountFrequencyEncoder()),
    ("scaler",MinMaxScaler())
])
time_pipe2.fit_transform(time_subset)

     dep_time_part_of_day  arrival_time_part_of_day
0                 0.11215                  0.836957
1                 1.00000                  0.836957
2                 1.00000                  0.836957
3                 0.00000                  0.836957
4                 0.00000                  0.000000
..                    ...                       ...
635               0.11215                  1.000000
636               0.00000                  1.000000
637               1.00000                  0.000000
638               0.00000                  0.000000
639               0.11215                  0.000000

[640 rows x 2 columns]

In [47]:
time_transformer=FeatureUnion(transformer_list=[
    ("part1",time_pipe1),
    ("part2",time_pipe2)
])
time_transformer.fit_transform(time_subset)

,dep_time_hour,dep_time_minute,arrival_time_hour,arrival_time_minute,dep_time_part_of_day,arrival_time_part_of_day
0,0.869565,0.727273,0.391304,0.454545,0.11215,0.836957
1,0.217391,0.818182,0.347826,0.272727,1.00000,0.836957
2,0.260870,0.090909,0.347826,0.909091,1.00000,0.836957
3,0.565217,1.000000,0.391304,0.272727,0.00000,0.836957
4,0.565217,0.000000,0.652174,0.909091,0.00000,0.000000
...,...,...,...,...,...,...
635,0.956522,0.363636,0.000000,0.727273,0.11215,1.000000
636,0.652174,0.272727,0.869565,0.090909,0.00000,1.000000
637,0.260870,0.818182,0.521739,0.636364,1.00000,0.000000
638,0.565217,0.272727,0.608696,0.818182,0.00000,0.000000
639,0.869565,0.000000,0.521739,0.000000,0.11215,0.000000

### 4.5 Duration

In [50]:
X_train.duration

0       765
1      1590
2       165
3      1160
4       170
       ...
635     140
636     290
637    1790
638      90
639     960
Name: duration, Length: 640, dtype: int64

In [62]:
(
    X_train
    .duration
    .quantile([0.25,0.50,0.75])
    .values
    .reshape(-1,1)
    #.shape
)

array([[170.],
       [490.],
       [910.]])

In [69]:
class RBFPercentileSimilarity(BaseEstimator,TransformerMixin):
    def __init__(self,variables=None,percentiles=[0.25,0.50,0.75],gamma=0.1):
        self.variables=variables
        self.percentiles=percentiles
        self.gamma=gamma

    def fit(self,X,y=None):
        if not self.variables:
            self.variables=X.select_dtypes(include="number").columns.to_list()

        self.reference_values_ ={
            col:(
                X
                .loc[:,col]
                .quantile(self.percentiles)
                .values
                .reshape(-1,1)
            )
            for col in self.variables
            
        }

        return self

    def transform(self,X):
        objects=[]
        for col in self.variables:
            columns=[f"{col}_rbf_{int(percentile*100)}" for percentile in self.percentiles]
            obj=pd.DataFrame(
                data=rbf_kernel(X.loc[:,[col]],Y=self.reference_values_[col],gamma=self.gamma),
                columns=columns
            )
            objects.append(obj)

        return pd.concat(objects,axis=1)

In [70]:
RBFPercentileSimilarity().fit_transform(X_train.loc[:,["duration"]])

     duration_rbf_25  duration_rbf_50  duration_rbf_75
0       0.000000e+00              0.0     0.000000e+00
1       0.000000e+00              0.0     0.000000e+00
2       8.208500e-02              0.0     0.000000e+00
3       0.000000e+00              0.0     0.000000e+00
4       1.000000e+00              0.0     0.000000e+00
..               ...              ...              ...
635     8.194013e-40              0.0     0.000000e+00
636     0.000000e+00              0.0     0.000000e+00
637     0.000000e+00              0.0     0.000000e+00
638    1.125982e-278              0.0     0.000000e+00
639     0.000000e+00              0.0    2.669190e-109

[640 rows x 3 columns]

In [5]:
def duration_category(X,short=180,med=400):
    return(
        X
        .assign(**{
            f"duration_over_{value}":X.duration.ge(value).astype(int)
        })
        .drop(columns="duration")
    )

In [6]:
def is_over(X,value=1000):
    return(
        X
        .assign(**{
            f"duration_over_{value}":X.duration.ge(value).astype(int)
        })
        .drop(columns="duration")
    )

In [7]:
duration_pipe1=Pipeline(steps=[
    ("rbf",RBFPercentileSimilarity()),
    ("scaler",PowerTransformer())
])
duration_union=FeatureUnion(transformer_list=[
    ("part1",duration_pipe1),
    ("part2",StandardScaler())
])
duration_transformer=Pipeline(steps=[
    ("outlier",Winsorizer(capping_method="iqr",fold=1.5)),
    ("imputer",SimpleImputer(strategy="median")),
    ("union",duration_union)
])
duration_transformer.fit_transform(X_train.loc[:,["duration"]])

NameError: name 'RBFPercentileSimilarity' is not defined

 ## 4.6 Total Stops

In [83]:
X_train.total_stops

0      1.0
1      1.0
2      0.0
3      1.0
4      0.0
      ...
635    0.0
636    1.0
637    2.0
638    0.0
639    1.0
Name: total_stops, Length: 640, dtype: float64

In [84]:
def is_direct(X):
    return X.assign(is_direct_flight=X.total_stops.eq(0).astype(int))

total_stops_transformer=Pipeline(steps=[
    ("imputer",SimpleImputer(strategy="most_frequent")),
    ("",FunctionTransformer(func=is_direct))
])
total_stops_transformer.fit_transform(X_train.loc[:,["total_stops"]])

     total_stops  is_direct_flight
0            1.0                 0
1            1.0                 0
2            0.0                 1
3            1.0                 0
4            0.0                 1
..           ...               ...
635          0.0                 1
636          1.0                 0
637          2.0                 0
638          0.0                 1
639          1.0                 0

[640 rows x 2 columns]

## 4.7 additional_info

In [85]:
X_train.additional_info

0                           No Info
1       In-flight meal not included
2                           No Info
3       In-flight meal not included
4                           No Info
                   ...
635    No check-in baggage included
636                         No Info
637                         No Info
638                         No Info
639                         No Info
Name: additional_info, Length: 640, dtype: object

In [86]:
info_pipe1=Pipeline(steps=[
    ("group",RareLabelEncoder(tol=0.1,n_categories=2,replace_with="Other")),
    ("encoder",OneHotEncoder(handle_unknown="ignore",sparse_output=False))
])

info_pipe1.fit_transform(X_train.loc[:,["additional_info"]])

,additional_info_In-flight meal not included,additional_info_No Info,additional_info_Other
0,0.0,1.0,0.0
1,1.0,0.0,0.0
2,0.0,1.0,0.0
3,1.0,0.0,0.0
4,0.0,1.0,0.0
...,...,...,...
635,0.0,0.0,1.0
636,0.0,1.0,0.0
637,0.0,1.0,0.0
638,0.0,1.0,0.0
639,0.0,1.0,0.0

In [87]:
def have_info(X):
    return X.assign(additional_info=X.additional_info.ne("No Info").astype(int))

In [88]:
info_union=FeatureUnion(transformer_list=[
    ("part1",info_pipe1),
    ("part2",FunctionTransformer(func=have_info))
])

In [89]:
info_transformer=Pipeline(steps=[
    ("imputer",SimpleImputer(strategy="constant",fill_value="unknown")),
    ("union",info_union)
])

info_transformer.fit_transform(X_train.loc[:,["additional_info"]])

,additional_info_In-flight meal not included,additional_info_No Info,additional_info_Other,additional_info
0,0.0,1.0,0.0,0
1,1.0,0.0,0.0,1
2,0.0,1.0,0.0,0
3,1.0,0.0,0.0,1
4,0.0,1.0,0.0,0
...,...,...,...,...
635,0.0,0.0,1.0,1
636,0.0,1.0,0.0,0
637,0.0,1.0,0.0,0
638,0.0,1.0,0.0,0
639,0.0,1.0,0.0,0

## 5. Column Transformer

In [90]:
column_transformer=ColumnTransformer(transformers=[
    ("air",air_transformer,["airline"]),
    ("doj",doj_transformer,["date_of_journey"]),
    ("location",location_transformer,["source",'destination']),
    ("time",time_transformer,["dep_time","arrival_time"]),
    ("dur",duration_transformer,["duration"]),
    ("stops",total_stops_transformer,["total_stops"]),
    ("info",info_transformer,["additional_info"])
],remainder="passthrough")
column_transformer.fit_transform(X_train,y_train)

,air__airline_Air India,air__airline_Indigo,air__airline_Jet Airways,air__airline_Multiple Carriers,air__airline_Other,doj__date_of_journey_month,doj__date_of_journey_week,doj__date_of_journey_day_of_week,doj__date_of_journey_day_of_month,doj__date_of_journey_day_of_year,location__source,location__destination,location__source_is_north,location__destination_is_north,time__dep_time_hour,time__dep_time_minute,time__arrival_time_hour,time__arrival_time_minute,time__dep_time_part_of_day,time__arrival_time_part_of_day,dur__duration_rbf_25,dur__duration_rbf_50,dur__duration_rbf_75,dur__duration,stops__total_stops,stops__is_direct_flight,info__additional_info_In-flight meal not included,info__additional_info_No Info,info__additional_info_Other,info__additional_info
0,1.0,0.0,0.0,0.0,0.0,1.000000,0.823529,0.500000,0.192308,0.822034,1.055320,1.054789,1,0,0.869565,0.727273,0.391304,0.454545,0.11215,0.836957,-0.353749,-0.09769,-0.12618,0.317581,1.0,0,0.0,1.0,0.0,0
1,0.0,0.0,1.0,0.0,0.0,0.000000,0.058824,0.833333,0.307692,0.067797,-0.843005,-1.065717,0,0,0.217391,0.818182,0.347826,0.272727,1.00000,0.836957,-0.353749,-0.09769,-0.12618,1.990810,1.0,0,1.0,0.0,0.0,1
2,0.0,1.0,0.0,0.0,0.0,0.666667,0.588235,1.000000,0.423077,0.610169,-0.843005,-1.632745,0,1,0.260870,0.090909,0.347826,0.909091,1.00000,0.836957,2.468049,-0.09769,-0.12618,-0.899313,0.0,1,0.0,1.0,0.0,0
3,0.0,0.0,1.0,0.0,0.0,0.000000,0.176471,1.000000,0.884615,0.194915,-0.088356,-0.018648,0,0,0.565217,1.000000,0.391304,0.272727,0.00000,0.836957,-0.353749,-0.09769,-0.12618,1.118703,1.0,0,1.0,0.0,0.0,1
4,0.0,1.0,0.0,0.0,0.0,1.000000,0.764706,0.833333,0.000000,0.779661,-0.843005,-1.632745,0,1,0.565217,0.000000,0.652174,0.909091,0.00000,0.000000,3.169116,-0.09769,-0.12618,-0.889172,0.0,1,0.0,1.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,0.0,0.0,0.0,0.0,1.0,1.000000,1.000000,0.000000,0.884615,0.974576,-0.088356,-0.018648,0,0,0.956522,0.363636,0.000000,0.727273,0.11215,1.000000,-0.353749,-0.09769,-0.12618,-0.950017,0.0,1,0.0,0.0,1.0,1
636,0.0,1.0,0.0,0.0,0.0,0.666667,0.705882,0.666667,0.884615,0.711864,-0.088356,-0.018648,0,0,0.652174,0.272727,0.869565,0.090909,0.00000,1.000000,-0.353749,-0.09769,-0.12618,-0.645794,1.0,0,0.0,1.0,0.0,0
637,0.0,0.0,1.0,0.0,0.0,1.000000,1.000000,0.500000,1.000000,1.000000,1.055320,1.054789,1,0,0.260870,0.818182,0.521739,0.636364,1.00000,0.000000,-0.353749,-0.09769,-0.12618,2.396441,2.0,0,0.0,1.0,0.0,0
638,0.0,0.0,0.0,0.0,1.0,0.333333,0.294118,0.333333,0.076923,0.279661,-1.764329,-1.065717,1,0,0.565217,0.272727,0.608696,0.818182,0.00000,0.000000,-0.353749,-0.09769,-0.12618,-1.051425,0.0,1,0.0,1.0,0.0,0
639,0.0,0.0,1.0,0.0,0.0,0.666667,0.588235,0.000000,0.192308,0.559322,-0.088356,-0.018648,0,0,0.869565,0.000000,0.521739,0.000000,0.11215,0.000000,-0.353749,-0.09769,-0.12618,0.713071,1.0,0,0.0,1.0,0.0,0

## 6. Feature Selection

In [98]:
estimator=RandomForestRegressor(n_estimators=10,max_depth=3,random_state=42)
selector=SelectBySingleFeaturePerformance(
    estimator=estimator,
    scoring="r2",
    threshold=0.1
)

## 7. Putting all Together

In [100]:
preprocessor=Pipeline(steps=[
    ("ct",column_transformer),
    ("selector",selector)
])

preprocessor.fit_transform(X_train,y_train)

,air__airline_Indigo,air__airline_Jet Airways,doj__date_of_journey_week,doj__date_of_journey_day_of_year,location__source,location__destination,dur__duration,stops__total_stops,stops__is_direct_flight
0,0.0,0.0,0.823529,0.822034,1.055320,1.054789,0.317581,1.0,0
1,0.0,1.0,0.058824,0.067797,-0.843005,-1.065717,1.990810,1.0,0
2,1.0,0.0,0.588235,0.610169,-0.843005,-1.632745,-0.899313,0.0,1
3,0.0,1.0,0.176471,0.194915,-0.088356,-0.018648,1.118703,1.0,0
4,1.0,0.0,0.764706,0.779661,-0.843005,-1.632745,-0.889172,0.0,1
...,...,...,...,...,...,...,...,...,...
635,0.0,0.0,1.000000,0.974576,-0.088356,-0.018648,-0.950017,0.0,1
636,1.0,0.0,0.705882,0.711864,-0.088356,-0.018648,-0.645794,1.0,0
637,0.0,1.0,1.000000,1.000000,1.055320,1.054789,2.396441,2.0,0
638,0.0,0.0,0.294118,0.279661,-1.764329,-1.065717,-1.051425,0.0,1
639,0.0,1.0,0.588235,0.559322,-0.088356,-0.018648,0.713071,1.0,0

## 8. Visualization

In [101]:
feature_performances=preprocessor.named_steps["selector"].feature_performance_
feature_performances

{'air__airline_Air India': np.float64(-0.006799656197154835),
 'air__airline_Indigo': np.float64(0.11767006955089883),
 'air__airline_Jet Airways': np.float64(0.1228455526053801),
 'air__airline_Multiple Carriers': np.float64(0.014531675100309763),
 'air__airline_Other': np.float64(0.08748286555574274),
 'doj__date_of_journey_month': np.float64(0.04656296859759601),
 'doj__date_of_journey_week': np.float64(0.1563838095890889),
 'doj__date_of_journey_day_of_week': np.float64(-0.02471171690335287),
 'doj__date_of_journey_day_of_month': np.float64(-0.004113163248219902),
 'doj__date_of_journey_day_of_year': np.float64(0.1581209778588382),
 'location__source': np.float64(0.18976944885316085),
 'location__destination': np.float64(0.15935564589733653),
 'location__source_is_north': np.float64(0.002199415737842695),
 'location__destination_is_north': np.float64(0.07528314217245587),
 'time__dep_time_hour': np.float64(-0.030212529874044436),
 'time__dep_time_minute': np.float64(0.012357046657419324),
 'time__arrival_time_hour': np.float64(0.05495272019996533),
 'time__arrival_time_minute': np.float64(0.013434927759843488),
 'time__dep_time_part_of_day': np.float64(-0.031147214691663667),
 'time__arrival_time_part_of_day': np.float64(-0.005260067787116444),
 'dur__duration_rbf_25': np.float64(0.07486183632548171),
 'dur__duration_rbf_50': np.float64(-0.005842301071447786),
 'dur__duration_rbf_75': np.float64(-0.004894334013043363),
 'dur__duration': np.float64(0.5032047342952893),
 'stops__total_stops': np.float64(0.46827703962844486),
 'stops__is_direct_flight': np.float64(0.4225702922453362),
 'info__additional_info_In-flight meal not included': np.float64(-0.006277501645554406),
 'info__additional_info_No Info': np.float64(-0.01433816876670487),
 'info__additional_info_Other': np.float64(0.001538440656737768),
 'info__additional_info': np.float64(-0.01433816876670487)}

In [102]:
sorted_feat_imp=dict(sorted(feature_performances.items(),key=lambda val: val[1]))
sorted_feat_imp

{'time__dep_time_part_of_day': np.float64(-0.031147214691663667),
 'time__dep_time_hour': np.float64(-0.030212529874044436),
 'doj__date_of_journey_day_of_week': np.float64(-0.02471171690335287),
 'info__additional_info_No Info': np.float64(-0.01433816876670487),
 'info__additional_info': np.float64(-0.01433816876670487),
 'air__airline_Air India': np.float64(-0.006799656197154835),
 'info__additional_info_In-flight meal not included': np.float64(-0.006277501645554406),
 'dur__duration_rbf_50': np.float64(-0.005842301071447786),
 'time__arrival_time_part_of_day': np.float64(-0.005260067787116444),
 'dur__duration_rbf_75': np.float64(-0.004894334013043363),
 'doj__date_of_journey_day_of_month': np.float64(-0.004113163248219902),
 'info__additional_info_Other': np.float64(0.001538440656737768),
 'location__source_is_north': np.float64(0.002199415737842695),
 'time__dep_time_minute': np.float64(0.012357046657419324),
 'time__arrival_time_minute': np.float64(0.013434927759843488),
 'air__airline_Multiple Carriers': np.float64(0.014531675100309763),
 'doj__date_of_journey_month': np.float64(0.04656296859759601),
 'time__arrival_time_hour': np.float64(0.05495272019996533),
 'dur__duration_rbf_25': np.float64(0.07486183632548171),
 'location__destination_is_north': np.float64(0.07528314217245587),
 'air__airline_Other': np.float64(0.08748286555574274),
 'air__airline_Indigo': np.float64(0.11767006955089883),
 'air__airline_Jet Airways': np.float64(0.1228455526053801),
 'doj__date_of_journey_week': np.float64(0.1563838095890889),
 'doj__date_of_journey_day_of_year': np.float64(0.1581209778588382),
 'location__destination': np.float64(0.15935564589733653),
 'location__source': np.float64(0.18976944885316085),
 'stops__is_direct_flight': np.float64(0.4225702922453362),
 'stops__total_stops': np.float64(0.46827703962844486),
 'dur__duration': np.float64(0.5032047342952893)}

In [106]:
THRESHOLD=0.1
selcted_bar=None
dropped_bar=None
colors=["red" if score< THRESHOLD else "green" for score in sorted_feat_imp.values()]

fig,ax=plt.subplots(figsize=(15,4))

for i, (feature, score) in enumerate(sorted_feat_imp.items()):
    params=dict(
        x=i,
        height=score,
        edgecolor="black",
        alpha=0.5
    )

    if score < THRESHOLD:
        bar=ax.bar(
            color="red",
            **params
        )
        if not dropped_bar:
                dropped_bar=bar[0]

    else:
            bar=ax.bar(
                color="green",
                **params
            )
            if not selected_bar:
                selected_bar=bar[0]

thresh_line=ax.axhline(
        y=0.1,
        color="black",
        linestyle="--"
)

ax.set_xticks(
    ticks=range(len(sorted_feat_imp)),
    labels=list(sorted_feat_imp.keys()),
    rotation=30,
    ha="right"
)

ax.set(
    xlabel="Feature",
    ylabel="Score",
    title="Feature Selection Scores"
)
ax.legend(
    handles=[selected_bar.dropped_bar,thresh_line],
    lables=["Selected","Dropped","Threshold"],
    loc="upper left"
)

plt.show()

NameError: name 'plt' is not defined